region                 = "ap-southeast-1"
vpc_id                 = "vpc-f4c49293"
rds_subnets            = ["subnet-03d2e54a", "subnet-1e7f7979", "subnet-d8ca3781"]
rds_availability_zones = ["ap-southeast-1a", "ap-southeast-1b", "ap-southeast-1c"]
name                   = "cafe"
db_name                = "msi"
db_username            = "postgres"
db_password            = "cafe12346789"